footer {
	clear: both;
    font-size: 12px;
    height: 300px;
    text-align: center;
    background-color: #DDDDDD;
    
    /*color: #ffffff*/
}
.menu{
	margin-top: 50px;
}
#box{
    margin-top: 20px;
    position: absolute;
}

section {
	background: #fff none repeat scroll 0 0;
	font-size: 12px;
    padding: 300px 10px 35px;
    position: relative;
	/*margin-top: 20px;*/
}

.text{
	text-align: center;
    position: absolute;
    margin-top: -150px;
}